* {
  box-sizing: border-box;
}

h1 {
  color: fuchsia;
}

.box {
  background-color: lightpink;
  padding: 10px;
}

#unique-box {
  border: 3px solid blue;
}

p:hover {
  background-color: yellow;
}
