* {
  box-sizing: border-box;
}

body {
  background-color: #e8d3b6;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 40px;
  background-color: #ae7e4e;
  margin: 0;
  padding: 5px;
  text-align: center;
}

nav img {
  width: 30px;
  height: 30px;
}

.intro {
  padding: 10px;
  font-family: sans-serif;
}

figure {
  width: 400px;
  height: 270px;
  margin: 30px;
  box-shadow: 0 0 10px 0px #172d0394;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
}

.contact {
  width: 150px;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  color: white;
  background-color: #5c7f3b;
  border: 2px solid #4b7d1c;
  box-shadow: 0 0 10px 0px #172d0394;
}

.chat {
  width: 75px;
  height: 75px;
  background-color: #5c7f3b;
  border-radius: 50%;
  padding: 15px;
}

/* ---Your code starts here--- */

nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

main {
  margin-top: 40px;
}

.contact {
  position: sticky;
  top: 50px;
  z-index: 10;
}

figure {
  position: relative;
}

.mountains,
.sea {
  left: 450px;
}

figcaption {
  position: absolute;
  top: 10px;
  right: 10px;
}

.chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
