* {
  box-sizing: border-box;
}

body {
  background-color: #bcdbec;
}

.flex-container {
  background-color: #f2fbff;
  border: 2px solid #1497d8;
  box-shadow: 0 0 15px #748e9b;
  padding: 5px;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.flex-item {
  padding: 10px;
}

.first {
  background-color: #f6cefc;
  border: 1px solid #c58fce;
}

.second {
  background-color: #ddfcc1;
  border: 1px solid #85b858;
}

.third {
  background-color: #ffd5a6;
  border: 1px solid #a0723e;
}

.fourth {
  background-color: #c1fce5;
  border: 1px solid #449475;
}

.fifth {
  background-color: #cdc6fb;
  border: 1px solid #695db6;
}

/* ----------- */
/* 
.third {
  order: -1;
}

.fifth {
  order: -5;
}

.first {
  order: 1;
} */

/* .third {
  flex-grow: 1;
}

.fifth {
  flex-grow: 3;
} */

/* .third {
  flex-shrink: 0;
}

.first {
  flex-shrink: 3;
} */

/* flex-grow: default 0 */
/* flex-shrink: default 1 */
/* flex-basis: default auto */
/*flex: grow shrink basis*/
.first {
  align-self: flex-end;
}

.flex-container {
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item {
  flex-basis: 120px;
}
