.flex-container {
  display: flex;
} 

/* .third {
  flex-grow: 2;
}

.second {
 flex-grow: 1;
} */

/* 
.first {
  flex-shrink: 0;
} */

/* .second {
  flex-shrink: 2;
} */

/* 
.first {
 flex-basis: 150px;
} */

/* .flex-item {
  flex-grow: 1;
} */

/* .first {
  align-self: flex-end;
}

.third {
  align-self: center;
} */


