* {
  box-sizing: border-box;
}

body {
  background-color: #bcdbec;
}

.container {
  background-color: #f2fbff;
  border: 2px solid #1497d8;
  box-shadow: 0 0 15px #748e9b;
  padding: 5px;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.item {
  padding: 10px;
}

.first {
  background-color: #f6cefc;
  border: 1px solid #c58fce;
}

.second {
  background-color: #ddfcc1;
  border: 1px solid #85b858;
}

.third {
  background-color: #ffd5a6;
  border: 1px solid #a0723e;
}

.fourth {
  background-color: #c1fce5;
  border: 1px solid #449475;
}

.fifth {
  background-color: #cdc6fb;
  border: 1px solid #695db6;
}

/* ----------- */

.container {
  display: flex;
}

.item {
  width: 150px;
}
